<?xml version="1.0"?>

<launch>
  <arg name="prefix" default=""/>
  <arg name="robot_name" default="schunk_gripper_jpg_p_160"/>
  <arg name="simulation" default="True" />

  <include file="$(find schunk_gripper_jpg_p_160_pybullet)/launch/simulation.launch">
    <arg name="prefix" value="$(arg prefix)"/>
    <arg name="robot_name" value="$(arg robot_name)"/>
  </include>

  <include file="$(find schunk_gripper_jpg_p_160_description)/launch/display.launch">
    <arg name="prefix" value="$(arg prefix)"/>
    <arg name="robot_name" value="$(arg robot_name)"/>
    <arg name="simulation" default="$(arg simulation)" />
  </include>

</launch>
