<?xml version="1.0" ?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
<xacro:macro name="schunk_gripper_jpg_p_160" params="prefix:='schunk_' 
                                                     interface:=hardware_interface/EffortJointInterface 
                                                     type:=rviz">


  <xacro:include filename="$(find schunk_gripper_jpg_p_160_description)/urdf/schunk_gripper_jpg_p_160_robot.xacro" />
  <xacro:schunk_gripper_jpg_p_160_robot prefix="${prefix}"
                                        type="${type}"/>

  <xacro:include filename="$(find schunk_gripper_jpg_p_160_description)/urdf/schunk_gripper_jpg_p_160_transmission.xacro" />
  <xacro:schunk_gripper_jpg_p_160_transmission prefix="${prefix}"
                                               interface="${interface}"/>

</xacro:macro>
</robot>
